* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Single Day', cursive;
    background-color: #EFECEC ;
}

.container {
    padding: 1.25rem;
    overflow: hidden;
    background-color: #7FC7D9;
}

.container h1 {
    float: left;
    margin-left: 10%;
    color: #fff;
}

.container ul {
    list-style-type: none;
    font-size: 1.25rem;
    margin-left: 60%;
}

.container li {
    margin-top: .625rem;
    float: left;
    padding: 0 1.25rem 0 1.25rem;
}

.container a {
    text-decoration: none;
    color: #fff;
}

.current a::after {
    content: "<-";
    margin-left: .625rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 80% 20%;
}

.equation {
    font-size: 4.0625rem;
    background-color: #fff;
    border-radius: .1875rem;
    text-align: center;
    padding-top: 15%;
    margin-top: .625rem;
    margin-left: .625rem;
    margin-right: .625rem;
}

.equation h1 {
    display: inline;
    padding: 1.25rem;
}

.answer-options {
    font-size: 4.1875rem;
    margin-right: .625rem;
}

.answer-options h1 {
    cursor: pointer;
    color: #fff;
    border-radius: .3125rem;
    margin-top: .625rem;
    text-align: center;
    width: 100%;
}

/*OPTION 1*/
#option1 {
    background-color: #FC6736;
    transition: .5s;
}

#option1:hover {
    color: #FC6736;
    background-color: #EFECEC;
}

/*OPTION 2*/
#option2 {
    background-color: #8E8FFA;
    transition: .5s;
}

#option2:hover {
    color: #8E8FFA;
    background-color: #EFECEC;
}

/*OPTION 3*/
#option3 {
    background-color: #64CCC5;
    transition: .5s;
}

#option3:hover {
    color: #64CCC5;
    background-color: #EFECEC;
}

